<div class="container" fxLayout="column">
	<mat-form-field>
		<mat-label>Betting Partner Name</mat-label>
		<input matInput placeholder="Betting Partner Name" type="text" [(ngModel)]="bettingpartner.name" class="form-control">
	</mat-form-field>
	<mat-form-field>
		<mat-label>Website</mat-label>
		<input matInput placeholder="Betting Partner Website" type="text" [(ngModel)]="bettingpartner.website" class="form-control">
	</mat-form-field>
	<mat-form-field>
		<mat-label>Status</mat-label>
		<mat-select [(ngModel)]="bettingpartner.status">
			<mat-option value="ACTIVE">ACTIVE</mat-option>
			<mat-option value="INACTIVE">INACTIVE</mat-option>
		</mat-select>
	</mat-form-field>
	<div>
		<button class="full-width" mat-raised-button color="primary" (click)="save()">
			Save
		</button>
	</div>
</div>