<div class="container" mat-dialog>
	<div fxlayout fxLayoutAlign="space-between center">
		<div mat-dialog-title>{{title}}</div>
		<button mat-icon-button (click)="dialogRef.close(false)"><mat-icon>close</mat-icon></button>
	</div>
	<mat-dialog-content [formGroup]="personForm">
		<div *ngIf="errors.length" class="alert alert-danger">
	      <ul>
	        <li *ngFor="let error of errors">{{error}}</li>
	      </ul>
	    </div>
		<div fxLayout="column">
			<mat-form-field appearance="outline">
				<mat-label>Name</mat-label>
				<input type="text" matInput formControlName="name" [(ngModel)]="person.n" appCapitalizeFirstLetter/>
			</mat-form-field>
			<mat-form-field appearance="outline">
				<mat-label>Mobile</mat-label>
				<input type="text" matInput formControlName="mobile" [(ngModel)]="person.m" />
			</mat-form-field>
			<mat-form-field appearance="outline">
				<mat-label>Email</mat-label>
				<input type="text" matInput formControlName="email" [(ngModel)]="person.e" />
			</mat-form-field>
			<mat-form-field>
				<mat-label>Password</mat-label>
				<input type="text" matInput formControlName="password" [(ngModel)]="person.pass" />
				<button matSuffix mat-icon-button (click)="generatePassword()">
					<mat-icon>vpn_key</mat-icon>
				</button>
				<button matSuffix mat-icon-button [cdkCopyToClipboard]="person.pass" (click)="copied()">
					<mat-icon *ngIf="person?.pass?.length>0">content_copy</mat-icon>
				</button>
			</mat-form-field>
			<div class="col" *ngIf="person.s!==''">
				<mat-label>Status: {{person.s}}</mat-label>
			</div>
		</div>
	</mat-dialog-content>
	<mat-dialog-actions> 
		<button type="button" mat-raised-button color="primary"
		    (click)="save(person)"
		    [disabled]="personForm.invalid">Save</button>
		<button type="button" mat-button 
		    (click)="dialogRef.close(false)">Cancel</button>
	 </mat-dialog-actions>
</div>