<div class="main-container" fxLayout="column" fxLayoutGap="2px" fxLayoutAlign="space-between">
	<header>
		<!-- <button *ngIf="pwa.promptEvent" (click)="installPwa()">
			Install
		</button> -->
		<app-progress-spinner [loaderType]="'overlay-spinner'"></app-progress-spinner>
	</header>
	<!-- Main -->
	<main class="main-container" fxFlex="grow" fxLayout="column" fxLayoutAlign="start">
		<div  id="moveTop"></div>
		<mat-toolbar>
			<div fxLayout fxLayoutGap="12px" class="full-width">
				<picture>
				  	<img src="/assets/images/logo.png" alt="Good-Act" style="width:150px;">
				</picture>
				<mat-divider [vertical]="true"></mat-divider>
				<div fxLayout fxLayoutAlign="space-between center" class="full-width">
					<div>{{title}}</div>
					<div fxLayout fxLayoutGap="12px" fxLayoutAlign="center center">
						<div><img src="/assets/images/profile/profile.png" class="profile-pic"/></div>
						<div><mat-icon style="color:'#00b6ff'">notifications</mat-icon></div>
					</div>
				</div>
			</div>
		</mat-toolbar>
		<div fxLayout>
				<app-navigation *ngIf="isLoggedIn" (menuSelected)="menuSelected($event)"></app-navigation>
				<div fxFlex="grow">
					<router-outlet></router-outlet>
				</div>	
		</div>

		<notifier-container class="notifier-container"></notifier-container>
		<button *ngIf="false" class="scroll-top-button" mat-fab (click)="scrollToTopFunc($event)">
	        <mat-icon>arrow_upward</mat-icon>
	    </button>
	</main>

</div>

