<div class="container">
	<div fxLayout="row" fxLayout.lt-md="column">
		<div fxLayout="column" fxLayoutGap="8px" fxLayoutAlign="start start">
			<img class="profile-pic" *ngIf="!person.pic?.downloadUrl" src="/assets/images/profile/profile.png" />
			<img class="profile-pic" *ngIf="person.pic?.downloadUrl" [src]="person.pic?.downloadUrl" height="150" width="150"/>
			<div fxLayout="column" fxLayoutGap="2px" >
				<div class="sub-title" fxFlexAlign="center">{{person.n}}</div>
				<div class="sub-title" fxFlexAlign="center" fxLayout fxLayout="center center">{{person.m}} </div>
				<div class="sub-title" fxFlexAlign="center">{{person.e}}</div>
				<div class="sub-title">Status: {{person.s}}</div>
			</div>	
		</div>
	</div>
</div>