<app-progress-spinner></app-progress-spinner>
<div fxLayout>
	<div [@openClose]="isLeftBarOpen?'open':'closed'" [ngStyle]="{'position': media.isActive('xs') ? 'absolute' : 'relative'}" >
		<div class="side-nav-container" fxLayout="column" fxLayoutGap="16px">
			<div class="user-container" fxLayout="column">
				<div fxLayout fxLayoutAlign="space-between start">
					<img src="/assets/images/profile/profile.png" class="profile-pic" />
					<button mat-icon-button (click)="isLeftBarOpen=false">
						<mat-icon>close</mat-icon>
					</button>
				</div>
				
				<div class="bold">{{name}}</div>
				<div class="bold">{{mobile}}</div>
			</div>
			<button mat-button [ngClass]="selectedTab!=='dashboard'? 'mobPageLink': 'mobPageLink-selected'" (click)="navigateTo('/dashboard', 'dashboard')">
				Dashboard
			</button>
			<button *ngIf="isLoggedIn" mat-button [ngClass]="selectedTab!=='merchants'? 'mobPageLink': 'mobPageLink-selected'" (click)="navigateTo('/merchants', 'merchants')">
				Merchants
			</button>
			<button mat-button [ngClass]="selectedTab!=='payment-gateways'? 'mobPageLink': 'mobPageLink-selected'" (click)="navigateTo('/payment-gateways', 'payment-gateways')">
				Payment Gateways
			</button>
			<button mat-button [ngClass]="selectedTab!=='reports'? 'mobPageLink': 'mobPageLink-selected'" (click)="navigateTo('/reports', 'reports')">
				Reports
			</button>
			<button mat-button [ngClass]="selectedTab!=='betting-partner'? 'mobPageLink': 'mobPageLink-selected'" (click)="navigateTo('/betting-partner', 'betting-partner')">
				Betting Partners
			</button>
			<button mat-button [ngClass]="selectedTab!=='users'? 'mobPageLink': 'mobPageLink-selected'" (click)="navigateTo('/users', 'users')">
				Users
			</button>
			<!-- <button mat-button class="mobPageLink" (click)="navigateTo('/profile')">
				Profile
			</button>
			<button mat-button class="mobPageLink" (click)="navigateTo('/downloads')">
				Download
			</button> -->
			<button class="mobPageLink" mat-button (click)="toggleLoginStatus(isLoggedIn)">
				{{isLoggedIn?'Logout':'Login'}} <mat-icon aria-label="isLoggedIn?:'Logout':'Login/Sign Up'">{{isLoggedIn?'logout':'lock'}}</mat-icon>
			</button>
		</div>
	</div>	
	<div *ngIf="!isLeftBarOpen" class="sidebar-open-arrow" fxLayoutAlign="center center">
		<button mat-icon-button (click)="isLeftBarOpen=!isLeftBarOpen">
			<mat-icon *ngIf="!isLeftBarOpen">arrow_forward_ios</mat-icon>
		</button>
	</div>
</div>

