<div class="container" fxLayout="column">
	<mat-form-field>
		<mat-label>Payment Gateway Name</mat-label>
		<input matInput placeholder="Payment Gateway Name" type="text" [(ngModel)]="gateway.name" class="form-control"/>
	</mat-form-field>
	<mat-form-field>
		<mat-label>Status</mat-label>
		<mat-select [(ngModel)]="gateway.status">
			<mat-option value="ACTIVE">ACTIVE</mat-option>
			<mat-option value="INACTIVE">INACTIVE</mat-option>
		</mat-select>
	</mat-form-field>
	<div>
		<button class="full-width" mat-raised-button color="primary" (click)="save()">
			Save
		</button>
	</div>
</div>