<div class="container" fxLayout="column" fxLayoutAlign="space-between end">
    <div fxLayout="row wrap" fxLayoutGap="16px">
        <mat-card class="card-button" fxLayout="column" fxLayoutAlign="end end" (click)="navigateTo('/dashboard')">
            <div class="full-width card-title" fxLayout fxLayoutAlign="center center" fxLayoutGap="4px">
                <mat-icon>dashboard</mat-icon>
                <div>Dashboard</div>
            </div>
            <div fxFlexAlign="end">
                <mat-icon class="x2-icon">trending_flat</mat-icon>
            </div>
        </mat-card>
        <mat-card class="card-button" fxLayout="column" fxLayoutAlign="end end" (click)="navigateTo('/person')">
            <div class="full-width card-title" fxLayout fxLayoutAlign="center center" fxLayoutGap="4px">
                <mat-icon>groups</mat-icon>
                <div>Users</div>
            </div>
            <div fxFlexAlign="end">
                <mat-icon class="x2-icon">trending_flat</mat-icon>
            </div>
        </mat-card>
        <mat-card class="card-button" fxLayout="column" fxLayoutAlign="end end" (click)="navigateTo('/betting-partner')">
            <div class="full-width card-title" fxLayout fxLayoutAlign="center center" fxLayoutGap="4px">
                <mat-icon>handshake</mat-icon>
                <div>Betting<br>Partners</div>
            </div>
            <div fxFlexAlign="end">
                <mat-icon class="x2-icon">trending_flat</mat-icon>
            </div>
        </mat-card>
        <mat-card class="card-button" fxLayout="column" fxLayoutAlign="end end" (click)="navigateTo('/merchants')">
            <div class="full-width card-title" fxLayout fxLayoutAlign="center center" fxLayoutGap="4px">
                <mat-icon>point_of_sale</mat-icon>
                <div>Merchants</div>
            </div>
            <div fxFlexAlign="end">
                <mat-icon class="x2-icon">trending_flat</mat-icon>
            </div>
        </mat-card>
    </div>
    <div class="bottom-container" fxFlexAlign="end">
        <div class="my-card" fxLayout="column" fxLayoutAlign="end end" (click)="navigateTo('/payment-gateways')">
            <div class="full-width card-title" fxLayout fxLayoutAlign="center center" fxLayoutGap="4px">
                <mat-icon>account_balance</mat-icon>
                <div>Payment Gateways</div>
            </div>
            <div class="arrow-container" fxFlexAlign="end">
                <mat-icon class="x2-icon">trending_flat</mat-icon>
            </div>
        </div>
        <div class="my-card" fxLayout="column" fxLayoutAlign="end end" (click)="navigateTo('/reports')">
            <div class="full-width card-title" fxLayout fxLayoutAlign="center center" fxLayoutGap="4px">
                <mat-icon>assignment</mat-icon>
                <div>Payment Reports</div>
            </div>
            <div class="arrow-container" fxFlexAlign="end">
                <mat-icon class="x2-icon">trending_flat</mat-icon>
            </div>
        </div>
    </div>
</div>