.card-title{
	margin: 16px 4px;
}

.mat-card{
	padding-bottom: 2px;
	padding-top: 32px;
	margin-bottom: 16px;
	min-width: 150px;
}

.bottom-container{
	padding: 64px 12px;
	border-radius: 32px;
	width: 100%;
	min-height: 40%;
	background: linear-gradient(45deg, rgba(75,0,116,0.7) 15%, rgba(214,0,166,1) 100%, rgba(0,0,0,1) 100%);
}

.my-card{
	border-radius: 16px;
	background: white;
	margin: 32px 16px;
	cursor: pointer;
}

.arrow-container{
	padding-right: 16px; 
}

.card-button{
	cursor: pointer;
}